@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Look at my Cats</h1>

    <img id ="picChooser" class = "mediumPics" src ="~/pics/stMalo1.jpg" onclick="nextPic()"/>

    <p>Click on the picure to cycle through images</p>

    <a href="sommat/6">Routing test</a>

</div>
